<div class="navigation">
    <span id="nav-title">Performance Monitoring System</span>
    <span>
      <form>
        <div class="multiselect" (clickOutside)="onClickedOutside($event)">
          <div class="selectBox" (click)="showCheckboxes()">
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes">
            <label for="one">
              <input type="checkbox" id="one" />First checkbox</label>
            <label for="two">
              <input type="checkbox" id="two" />Second checkbox</label>
            <label for="three">
              <input type="checkbox" id="three" />Third checkbox</label>
          </div>
        </div>
      </form>
    </span>
</div>


