<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Host-Name</th>
                <th>OS</th>
                <th>Processor</th>
                <th>Manufactorer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of api.performanceData">
                <td>{{data.hostName}}</td>
                <td>{{data.platform}}</td>
                <td>{{data.processor}}</td>
                <td>{{data.manufacturer}}</td>
            </tr>
        </tbody>
    </table>
</div>
